*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(45deg, rgba(228, 126, 30, .9), rgba(50, 14, 180, .9));
    background-size: auto 2px;
}

.sectionInfos{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    background-image: linear-gradient(45deg, transparent 1px, rgba(0,0,0,.1) 1px);
    background-size: auto 2px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px;
}

.principal .cabecalho{
    padding-top: 10px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 40px;
}

.principal .classificacao{
    padding-top: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.principal .projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 4px black;
}

.principal a{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.principal a:hover{
    background-color: black;
    color: white;
}

.principal .criador{
    font-size: 35px;
    font-weight: bold;
    border: none;
    width: auto;
    margin-top: 50px;
}

.principal .criador:hover{
    background-color: transparent;
    color: white;
    transform: scale(1.05);
}

.cabecalho .linha{
    height: 4px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

#imgTitulo img{
    width: 28px;
    height: 28px;
}

.classificacao .linhaClassificacao{
    height: 4px;
    background-color: black;
    margin-top: 2px;
}

.cabecalho .titulo{
    font-weight: bold;
    font-size: 25px;
    display: flex;
}

.classificacao .nomeClassificacao{
    font-weight: bold;
    font-size: 20px;
}

.classificacao .class1{
    width: 25%;
}

.classificacao .class2{
    width: 51%;
}

.nomeClassificacao{
    display: flex;
}

#imghtmlcss img{
    width: 40px;
    height: 24px;
    margin-right: 10px;
}

#imghtmlcssjs img{
    width: 66px;
    height: 24px;
    margin-right: 10px;
}

.projeto .nomeProjeto{
    font-weight: bold;
    font-size: 25px;
}

.projeto .configs{
    font-weight: bold;
    font-size: 18px;
}
