*{
    font-family: 'Courier New', Courier, monospace;
}

body::-webkit-scrollbar{
    background: linear-gradient(135deg, rgba(42, 94, 138, 0.9), rgba(50, 14, 180, 1)); 
}

body::-webkit-scrollbar-button{
    background-color:black;  
}

body::-webkit-scrollbar-thumb{
    background-color: black;
}

body{
    padding: 0;
    margin: 0;
    background: rgb(28, 145, 28);
    background: linear-gradient(135deg, rgba(2, 253, 35, 0.9), rgba(50, 14, 180, 1));
}

.sectionInfos{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    background-image: linear-gradient(45deg, transparent 1px, rgba(0,0,0,.1) 1px);
    background-size: auto 2px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px;
}

.principal .cabecalho{
    padding-top: 10px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 40px;
}

.principal .classificacao{
    padding-top: 10px;
    width: 80%;
    margin-bottom: 10px;
}

.principal .projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    margin-bottom: 30px;
    box-shadow: 0px 1px 4px black;
}

.principal a{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.principal a:hover{
    background-color: black;
    color: white;
}

.principal .portfolio{
    font-size: 35px;
    font-weight: bold;
    border: none;
    width: auto;
    margin-top: 50px;
    border-bottom: 3px solid black;
}

.cabecalho .linha{
    height: 4px;
    width: 100%;
    background-color: black;
    margin-top: 5px;
}

#imgTitulo img{
    width: 28px;
    height: 28px;
}

.classificacao .linhaClassificacao{
    height: 4px;
    background-color: black;
    margin-top: 2px;
}

.cabecalho .titulo{
    font-weight: bold;
    font-size: 25px;
    display: flex;
}

.classificacao .nomeClassificacao{
    font-weight: bold;
    font-size: 20px;
}

.classificacao .class1{
    width: 150px;
}

.classificacao .class2{
    width: 310px;
}

.nomeClassificacao{
    display: flex;
}

#imghtmlcss img{
    width: 40px;
    height: 24px;
    margin-right: 10px;
}

#imghtmlcssjs img{
    width: 66px;
    height: 24px;
    margin-right: 10px;
}

.projeto .nomeProjeto{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.projeto .configs{
    font-weight: bold;
    font-size: 18px;
}

.infosCriador{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infosImportantesCriador{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.imgCriador img{
    width: 200px;
    height: 210px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0px 0px 10px black;
}

.githubCriador a, .linkedinCriador a{
    display: flex;
    align-items: center;
}

.imgGithub img, .imgLinkedin img{
    width: 32px;
    height: 32px;
}

.linkGithub, .linkLinkedin{
    font-weight: bold;
    font-size: 20px;
}

.githubCriador a:hover, .linkedinCriador a:hover{
    background-color: transparent;
    color: black;
    transform: scale(1.1);
}

@media (max-width:830px){
    .principal{
        width: 500px;
    }

    body::-webkit-scrollbar{
        background-color: rgba(50, 14, 180, 1); 
    }
}

@media (max-width:530px){
    .principal{
        width: 320px;
    }

    .nomeClassificacao #classif1,
    .nomeClassificacao #classif2{
        display: none;
    }

    .classificacao .class1{
        width: 60px;
    }

    .classificacao .class2{
        width: 90px;
    }

    #imghtmlcss img{
        width: 55px;
        height: 30px;
    }

    #imghtmlcssjs img{
        width: 85px;
        height: 30px;
    }

    .infosCriador{
        flex-direction: column;
    }
}

@media (max-width: 360px){
    .principal{
        width: 280px;
    }
}